body{
    margin:4rem;
    text-align: center;
}
img{
    height:20rem;
    width:40rem;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.8rem;

}
button a{
    text-decoration: none;
}